<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mamco</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <div>
                <h1>
                    Cỗ
                </h1>
            </div>
        </header>

        <nav>
            <div class="menu">
                <ul>
                    <li><a href="#"></a>Trang chủ</li>
                    <li><a href="#"></a>Tin Tức</li>
                    <li><a href="#"></a>Liên hệ</li>
                    <li><a href="#"></a>Giỏ hàng</li>
                    <li><a href="#"></a>Dịch vụ</li>
                    <li><a href="#"></a>Combo</li>
                    <li><a href="#"></a>Nguyên liệu</li>
                    <li><a href="#"></a>Đối tác</li>
                    <li><a href="#"></a>Công thức nấu ăn</li>
                </ul>
            </div>

            <div class="search">
                <input type="search" placeholder="Tìm...">
                <button>Tìm kiếm</button>
            </div>
        </nav>

        <div id="slogan">
            <img src="img/slogan.png" alt="tiêu chí của app">
        </div>

        <article>
            <h3>Món ăn ưa thích</h3>
            <div class="new_list">
                <div class="new_food">
                    <h4>Mâm cúng giỗ</h4>
                    <img src="img/food1.png" alt="">
                </div>
                <div class="new_food">
                    <h4>Mâm cúng Tết</h4>
                    <img src="img/food2.png" alt="">
                </div>
                <div class="new_food">
                    <h4>Mâm thôi nôi</h4>
                    <img src="img/food3.png" alt="">
                </div>
                <div style="clear: both;"></div>
            </div>

        </article>
        <article>

            <div class="new_list">
                <div class="new_food">
                    <h4>Gà luộc sẵn</h4>
                    <img src="img/food4.png" alt="">
                </div>
                <div class="new_food">
                    <h4>Miến</h4>
                    <img src="img/food5.png" alt="">
                </div>
                <div class="new_food">
                    <h4>Xôi</h4>
                    <img src="img/food6.png" alt="">
                </div>
                <div style="clear: both;"></div>
            </div>

        </article>

        <footer>
            <div>
                <h1>
                    Cỗ
                </h1>
            </div>

            <div>
                <h5>
                    Địa chỉ: Tòa nhà A, Pastuer, Quận 1, TP. Hồ Chí Minh <img src="img/phone2.png"> 0909xxxxx31
                </h5>

            </div>

            <article>
            </article>
        </footer>
    </div>
</body>
</html>