<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login">
        <h1 class="login-heading">Đăng nhập</h1>
        <button class="login-social">
            <i class="fa fa-google login-social-icon"></i>
            <span class="login-social-text">Đăng nhập với Google</span>
        </button>
        <div class="login-or"><span>Hoặc</span></div>
        <form action="#" class="login-form" autocomplete="off">
        <label for="fullName" class="login-label">Full name</label>
        <input type="text" id="fullName" class="login-input" placeholder="Tài Khoản" />
        <label for="password" class="login-label">Password</label>
        <input type="password" id="password" class="login-input" placeholder="Mật khẩu" />
        <button class="login-submit"> Đăng nhập</button>
        </form>
    </div>
    
</body>
</html>